<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>Filtro</filter-name>
        <filter-class>br.com.fiap.servlet.Filtro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <url-pattern>/verifica</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ServletCodigo</servlet-name>
        <servlet-class>br.com.fiap.servlet.ServletCodigo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCodigo</servlet-name>
        <url-pattern>/verifica</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

<listener>
    <listener-class>
        br.com.fiap.servlet.ContextListener
    </listener-class>
</listener>

    <error-page>
        <error-code>404</error-code>
        <location>/erro404.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
